@import '../styles/variables';
@import '../styles/mixins';

.about {
    padding: 8rem 0;

    &__container {
        max-width: 800px;
        margin: 0 auto;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    p {
        color: $text-secondary-dark;
        font-size: 1.2rem;
        line-height: 1.8;
        margin-bottom: 1.5rem;
    }
}