@import '../../app/styles/variables';
@import '../../app/styles/mixins';

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;

    @include mobile {
        padding-top: 80px;
    }
}